{% extends "base.html" %}

{% block head_content %}
<title>@{{ request.usern.username }} | Update Profile</title>
{% endblock %}

{% block container %}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius dignissimos praesentium sunt, ab voluptate explicabo enim molestiae illo natus 
        commodi unde reprehenderit voluptatem porro sequi officia laboriosam molestias maiores dolore aut quaerat distinctio. Id sed, quis unde nihil nam 
        saepe sint dolores numquam voluptates a voluptatibus. Quae illo odit ab?</p>
    
    
{% endblock %}